extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Explore The World
    p.lead Book homes and experience a city like a local
    a.btn.btn-info-outline.btn-lg(href='/register') Become A Host!
    br
    br
    a.btn.btn-info-outline.btn-lg(href='/register') Become A Guest!
